<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/90f3528978.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <nav class="nav navbar-left">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
        </nav>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to books_path(current_user), class:"btn btn-link" do %>
                <p><i class="fas fa-home"></i>
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                <P>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to users_path, class:"btn btn-link" do %>
                <p><i class="fas fa-users"></i>
                <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span>
                </p>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to books_path, class:"btn btn-link" do %>
                <p><i class="fas fa-book-open"></i>
                <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
                </p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                <p><i class="fas fa-sign-out-alt"></i>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"> Log out</span>
                </p>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class:"btn btn-link" do %>
                <p><i class="fas fa-home"></i>
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                </p>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to about_path, class:"btn btn-link" do %>
                <p><i class="fas fa-link"></i>
                <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
                </p>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <p><i class="fas fa-user-plus"></i>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> Sign up</span>
                </p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                <p><i class="fas fa-sign-in-alt"></i>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"> Log in</span>
                </p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container px-5 px-sm-0">
        <div class="row">

        </div>
      </div>
    </main>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
          <div class="container mt-5">
            <div class="row">
              <div class="mx-auto">
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
           </div>
        </footer>
      </div>
    </div>
  </body>
</html>
